.git
**/.git
.github
**/.DS_Store
**/node_modules
**/.env
backend/data
documents
*.log

frontend/src
frontend/*.*
frontend/public
frontend/scripts
frontend/Makefile
frontend/dist/images/*
!frontend/dist/images/logo
frontend/dist/images/logo/auth-logo.svg
frontend/dist/*.png
**/.air.toml