# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
**/.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.*

frontend/src
frontend/*.*
frontend/public
frontend/scripts
frontend/Makefile
frontend/dist/images/*
!frontend/dist/images/logo
frontend/dist/images/logo/auth-logo.svg
frontend/dist/*.png
**/.air.toml

